# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Autotools generated
Makefile
Makefile.in
configure
configure.in
config.h
config.h.in

src/localedir.h
src/halttimer
src/Makefile
src/Makefile.in

# Cache/Temp
autom4te.cache/
